<div class="container">
<h3>コメント</h3>
<div class="card-groups">
<% @opinion.comments.each do |comment| %>
<div class="card">
  <div class="row no-gutters">
    <h4 class="card-title" style = "margin:20px;"><%= comment.commenter %><br><span style = "font-size:15px;"><%= comment.created_at %></span></h4>
    <div class="col-md-8">
      <div class="card-body">
        <p style = "font-size:20px"><%= comment.body %>
        </p>
      </div>
    </div>
  </div>
</div>
<% end %>
</div><br>


<script language="JavaScript">
<!--
var char_limit = 10;
function set_limit(that){
if(that.value.length > char_limit){
alert('入力文字数が '+char_limit+'文字を越えました (^^);');
that.focus();
return false;
}
return true;
}
// -->
</script>

<h3>コメント投稿</h3>
<form>
  <%= form_for([@clip, @opinion, @opinion.comments.build]) do |f| %>
  <div class="form-group">
    <%= f.text_field :commenter, class: "form-control" , id: "exampleFormControlTextarea1", placeholder: "名前", style: "width:200px;"%>
  </div>
  <div class="form-group">
    <%= f.text_area :body, class: "form-control" ,  id: "exampleFormControlTextarea1", rows: "5", placeholder: "200文字まで",  style: "font-size:20px"%>
  </div>
  <div class="actions">
    <%= f.submit "投稿する",  class: "btn btn-danger",  style: "width:170px;" %>
  </div>
  <% end %>
</form>
</div>