<ol class="breadcrumb mt-4">
  <li class="breadcrumb-item">
    <%= link_to "クリップ一覧", clips_url %></li>
  <li class="breadcrumb-item">
    <%= link_to @clip.title.truncate(25), @clip %></li>
</ol>
<div class="row">
  <div class="col-md-8">
    <h4><%= @opinion.title %></h4>
    <%= simple_format @opinion.body %>
    <div class="like">
      <%= render 'opinions/like' %>
    </div>
  </div>
  <div class="col-md-4">
    <ul>
    <li><%= link_to "#{@opinion.title}", @clip %></li>
    </ul>
  </div>
</div>
<div>
<%= render partial: 'comments/comments', locals: { commentable: @opinion } %>
</div>