<h4>ユーザークリップ<%= form_tag(search_clips_path,:method => 'get', class: "btn btn-outline-light btn-lg") do %>
  <%= text_field_tag :search %>
  <%= submit_tag '検索', :name => nil %></h4>
<% end %>
<div class="card-groups">
<% @clips.each do |clip| %>
<div class="card">
  <div class="row no-gutters">
    <div class="col-md-4" style = "max-height: 250px;">
      <img src="<%= clip.image %>" class="card-img" alt="news-image" style = "height:100%;">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h4 class="card-title"><%= clip.title %><a><%= clip["publishedAt"] %></a></h4>
        <p><%= truncate(clip["description"] , length:100) %></p>
        <p><%= fa_icon 'bookmark 2x', style: "color: orange" %>
        <%= clip.user_clips_count %>クリップ
        <%= fa_icon 'users 2x', style: "color: orange" %>
        <%= clip.opinions_count %>オピニオン
        <br><br><%= link_to 'オピニオン一覧', clip, class: "btn btn-primary", data: {"turbolinks" => false}%>
        </p>
      </div>
    </div>
  </div>
</div>
<% end %>
</div>