<h1>話題のトピックス</h1>
<div class="card-groups">
<% @clips.each do |clip| %>
<div class="card">
  <div class="row no-gutters">
    <div class="col-md-4" style = "max-height: 250px;">
      <img src="<%= clip.image %>" class="card-img" alt="news-image" style = "height:100%;">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h4 class="card-title"><%= clip.title %><a><%= clip["publishedAt"] %></a></h4>
        <p style = "font-size:20px"><%= truncate(clip["description"] , length:100) %>
        <br><br><%= link_to 'みんなの意見を見る', clip, class: "btn btn-primary"%>
        </p>
      </div>
    </div>
  </div>
</div>
<% end %>
</div>