<h1>Clip Review</h1>
<table style = "width:100%;" class="table table-bordered">
  <thead class="thead-dark">
      <th scope="col">Image</th>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
  </thead>

  <tbody style = "width: 100%;">
    <tr>
      <td><img class="card-img-right flex-auto d-none d-lg-block" src="<%= @clip.image %>"  style="width: 350px; height: 380px;"></td>
      <td><%= @clip.title %></td>
      <td><%= @clip.description %><br><br><a class="btn btn-primary btn-sm" href="<%=  @clip.url %>" target="_blank">Continue reading</a></br></td>
    </tr>
  </tbody>
</table>

<h1>Opinion<%= link_to '意見を投稿する', new_clip_opinion_path(@clip), class: "btn btn-success  btn-sm", style: "color:white;margin-left:30px;"  %></h1>
<table style = "width:50%;" class="table table-bordered">
  <thead class="thead-dark">
    <th scope="col">Title</th>
    <th scope="col">like</th>
 </thead>
  <tbody style = "width: 100%">
    <tr>
    <% @opinions.each do |opinion| %>
    <td style = "font-size:20px;"><%= opinion.title %><br><br><%= link_to "Opinion Review", clip_opinion_path(@clip,opinion), data: {"turbolinks" => false}, class: "btn btn-primary btn-sm", style: "color:white;"%></td>
    <td><br><a class="likebtn-wrapper" data-theme="likebtn" data-identifier="item_1" style = "width:50px;"></a>
    <script>(function(d,e,s){if(d.getElementById("likebtn_wjs"))return;a=d.createElement(e);m=d.getElementsByTagName(e)[0];a.async=1;a.id="likebtn_wjs";a.src=s;m.parentNode.insertBefore(a, m)})(document,"script","//w.likebtn.com/js/w/widget.js");</script></td>
   </tr>
   <% end %>
  </tbody>
</table>
