<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @clip.url %>
</p>

<p>
  <strong>Title:</strong>
  <%= @clip.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @clip.description %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @clip.image, width: 960 %>
</p>

<%= link_to 'Edit', edit_clip_path(@clip) %> |
<%= link_to 'Back', clips_path %>
