<div style = "text-align: center;"><input type="button" value="最新の記事に更新" onclick="window.location.reload();" class="btn btn-secondary" >
</div>
<h1 style="display: inline;">Articles</h1>
<table style = "width:100%;" class="table table-bordered">
  <thead class="thead-dark">
      <th scope="col">Image</th>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody style = "width: 100%;">
      <tr>
        <% @articles.each do |article| %>
        <td><img class="card-img-right flex-auto d-none d-lg-block" src="<%= article["urlToImage"] %>"  style="width: 200px; height: 250px;"></td>
        <td><%= article["title"] %><br><%= article["publishedAt"] %></br></td>
        <td><%= article["description"] %><br><br><a class="btn btn-primary btn-sm" href="<%= article["url"]  %>" target="_blank">Continue reading</a></br></td>
      </tr>
    <% end %>
  </div>
  </tbody>
</table>