<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @article.upcase_title %>
</p>

<p>
    <strong>Body:</strong>
    <%= @article.body %>
</p>

<p>
    <strong>Category:</strong>
    <% @article.article_categories.each do |article_categories| %>
     <%= article_categories.category.name %>
    <% end %>
</p>

<p>
  <strong>読了予想時間：</strong>
    <%= @article.reading_time_predicition %>分
</p>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>