<p id="notice"><%= notice %></p>

<h1>Categoys</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categoys.each do |categoy| %>
      <tr>
        <td><%= categoy.name %></td>
        <td><%= link_to 'Show', categoy %></td>
        <td><%= link_to 'Edit', edit_categoy_path(categoy) %></td>
        <td><%= link_to 'Destroy', categoy, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Categoy', new_categoy_path %>
