<h1>User Clips</h1>
<div class="container">
<table class="table table-bordered table table-hover table-sm">
  <thead class="thead-dark">
    <tr>
      <th scope="col">User</th>
      <th scope="col">Clip</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_clips.each do |user_clip| %>
      <tr>
        <td><%= current_user.email %></td>
        <% clip = user_clip.clip %>
        <td><%= clip.title %></td>
        <td><%= image_tag clip.image, width: 100 if clip.image %></td>
        <td><%= link_to 'Show', user_clip %></td>
        <td><%= link_to 'Edit', edit_user_clip_path(user_clip) %></td>
        <td><%= link_to 'Destroy', user_clip, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
