<h4>マイクリップ</h4>
<div class="card-groups">
<% @user_clips.each do |user_clip| %>
<div class="card">
  <div class="row no-gutters">
    <% clip = user_clip.clip %>
    <div class="col-md-4" style = "max-height: 250px;">
      <img src="<%= clip.image %>" class="card-img" alt="news-image" style = "height:100%;">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h4 class="card-title"><%= clip.title %><a><%= clip["publishedAt"] %></a></h4>
        <p><%= clip.description %>
        <br><br><a href="<%=  clip.url %>" target="_blank" , class="btn btn-danger">記事の続きを読む</a>
        <%= link_to 'クリップを削除する', user_clip, method: :delete, data: { confirm: '本当に削除してよろしいですか?' } , class: "btn btn-secondary"%>
        </p>
      </div>
    </div>
  </div>
</div>
<% end %>
</div>