<p id="notice"><%= notice %></p>

<h1><%= @clip.title %></h1>
<p><%= @clip.description %></p>
  <%= image_tag @clip.image, width: 500 if @clip.imge %>

<%= link_to 'Edit', edit_user_clip_path(@user_clip) %> |
<%= link_to 'Back', user_clips_path %>
