<!DOCTYPE html>
<html>
  <head>
    <title>NewsInk</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5d3c52cf7c2a16f6"></script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script src='js/bootstrap.js'></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-18100103632046477529",
        enable_page_level_ads: true
      });
      // ページをreloadする方法
    </script>
    <script>
      window.onunload = function(){location.reload();}
    </script>
    <script>(function(t,a,y,o,r,i){r=a.createElement(y),i=a.getElementsByTagName(y)[0];r.type='text/javascript';r.async=1;r.src='http://tayori.com/form/64410234d28d9e9b166d7579922566c0736431cb/tag.js';r.id='tayori-tag';i.parentNode.insertBefore(r,i)})(window,document,'script');
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-144911894-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-144911894-1');
    </script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <link href="style.css" rel="stylesheet" type="text/css" media="(min-width: 960px) and (max-width: 1279px)" >
  </head>
    <div style ="text-align: center">
    <br><a href="https://www.googleadservices.com/pagead/aclk?sa=L&amp;ai=CaoPwuhdFXa_RLorn2gT895bgCYma8sZO7Y38zZIJhLXZ2poLEAEgwdeHLGCJs8-EnBSgAej_g9cDyAEDqQLpv9f2qiVEPuACAKgDAcgDCKoEwwFP0CoSehxQwcDvKk-2t2kQrEhZ0PqFt-WfKbwTFJGkPQnGiVaL8BETZZfe7r8qACHjrwF15auG61JF4lQvyC-w9SE1bqXWfLECWRgEPMl4deEKS9dnSDSM5w1-pOwQJPksajRy5JyLyax0q7WrrzQ-rA1dOaMSIKx2E97ptQmfmf-WvrY7ScAztAxcjv3iTrIVc8aizJYWRYPMITS_m-iIoVZlVgoN_eXELWEiY0Oix-Ta1BdMZu-KS5xZ_Y1TeEvdMxbgBAGgBgOAB4CA_CioB47OG6gH1ckbqAfB0xuoB4XUG6gHgdQbqAeC1BuoB4bUG6gHhNQbqAeT2BuoB-DTG6gHugaoB9nLG6gHz8wbqAemvhuoB_PRG6gH7NUb2AcB0ggHCIABEAEYDbEJq-WWaEXwnEWACgPYEwI&amp;ae=1&amp;num=1&amp;cid=CAASEuRoSfi7F_TlfhcZwuO6PZGK_A&amp;sig=AOD64_2UU4ZxHBWf6alT4sLtj6aGtNYzwA&amp;client=ca-pub-2494949456600497&amp;nx=CLICK_X&amp;ny=CLICK_Y&amp;nb=2&amp;adurl=https://www.onamae.com/campaign/trial3/%3Fflow%3Dnormal%26banner_id%3D787_rtg_top_comnetwork_1%26waad%3DnLWDnYOJ%26argument%3D29kVaVam%26dmai%3Da5cd2a1d2af0c9%26gclid%3DEAIaIQobChMIr5bWqvjl4wIVirOWCh38uwWcEAEYASAAEgL4zvD_BwE" id="aw0" on="tap:exit-api.exit(target='landingPage',_nb='2')" target="_blank"><amp-img alt="" class="img_ad i-amphtml-layout-fixed i-amphtml-layout-size-defined i-amphtml-element i-amphtml-layout" height="90" i-amphtml-layout="fixed" i-amphtml-ssr="" src="https://tpc.googlesyndication.com/simgad/17554072985926828441" style="width:970px;height:90px;" width="970"><img alt="" class="i-amphtml-fill-content i-amphtml-replaced-content" decoding="async" src="https://tpc.googlesyndication.com/simgad/17554072985926828441"></amp-img></a></div><br>
    <% if current_page?(root_path) %>
    <div class="jumbotron text-center hero">
    <div class="container">
       <h1>News Ink</h1>
       <p>News Inkはニュースを共有するためのプラットフォームです</p>
       <%= link_to "Sing Up Now!",
        new_user_registration_path, class: "btn btn-danger" , data: {"turbolinks" => false}, :style=>"color:white;" %>
    </div>
    </div>
    <% end %>
  <body onLoad="rCheck()">
     <nav class="navbar navbar-expand-lg navbar-dark bg-danger">
      <%= link_to "Home", root_path, method: :get,:style=>"color:white;padding-left:10px;", data: {"turbolinks" => false} %></span>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" style =  "text-align:left;">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav"  style = "color:white;">
        <ul class="navbar-nav">
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to "Articles", articles_path, method: :get,:style=>"color:white;padding-left:10px;", data: {"turbolinks" => false} %>
            </li>
            <li class="nav-item">
              <%= link_to "Clips", clips_path, method: :get,:style=>"color:white;padding-left:10px;" , data: {"turbolinks" => false} %>
            </li>
            <li class="nav-item">
              <%= link_to "User-Clips", user_clips_path, method: :get,:style=>"color:white;padding-left:10px;" , data: {"turbolinks" => false} %>
            </li>
            <li class="nav-item">
              <span style = "color:white;padding-left:10px;"><%= current_user.email %>としてログイン中</span>
            </li>
            <li class="nav-item">
              <%= link_to "Log out", destroy_user_session_path, method: :delete,:style=>"color:white;padding-left:10px;" , data: {"turbolinks" => false} %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "Log in", new_user_session_path,:style=>"color:white;padding-left:10px;"  , data: {"turbolinks" => false} %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>
    <br><div class="addthis_inline_share_toolbox_nenf" style = "text-align:center;"></div>
    <div class="container" style = "width: 100%;">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
     <%= yield %>
    </div>
    </body>
    <br><div class="addthis_inline_share_toolbox_nenf" style = "text-align:center;"></div>
    <footer class="footer bg-danger">
      <div class="text-mute" style = "color:white;text-align:left;margin-left: 20px;">© Copyright 2019 All Rights Reserved
      <br><a href="http://tayori.com/form/64410234d28d9e9b166d7579922566c0736431cb" target="_blank" style="color:white;">-お問い合わせ-</a></div>
    </footer>
</html>
