<!DOCTYPE html>
<html>
  <head>
    <title>News Ink</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5d3c52cf7c2a16f6"></script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script src='js/bootstrap.js'></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-18100103632046477529",
        enable_page_level_ads: true
      });
      // ページをreloadする方法
    </script>
    <script>
      window.onunload = function(){location.reload();}
    </script>
    <script>(function(t,a,y,o,r,i){r=a.createElement(y),i=a.getElementsByTagName(y)[0];r.type='text/javascript';r.async=1;r.src='http://tayori.com/form/64410234d28d9e9b166d7579922566c0736431cb/tag.js';r.id='tayori-tag';i.parentNode.insertBefore(r,i)})(window,document,'script');
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-144911894-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-144911894-1');
    </script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <link href="style.css" rel="stylesheet" type="text/css" media="(min-width: 960px) and (max-width: 1279px)" >
  </head>
    <% if current_page?(root_path) %>
    <div class="jumbotron text-center hero">
    <div class="container">
       <h1>News Ink</h1>
       <p>News Inkはニュースを共有するための<br>プラットフォームです</p>
    </div>
    </div>
    <% end %>
  <body onLoad="rCheck()">
     <nav class="navbar navbar-expand-lg navbar-dark bg-danger">
      <a class="navbar-brand" href="/" data-turbolinks="false" >News Ink</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" style =  "text-align:left;">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav"  style = "color:white;">
        <ul class="navbar-nav">
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to "トピックス", articles_path, method: :get,:style=>"color:white;padding-left:10px;", data: {"turbolinks" => false} %>
            </li>
            <li class="nav-item">
              <%= link_to "ユーザークリップ", clips_path, method: :get,:style=>"color:white;padding-left:10px;" , data: {"turbolinks" => false} %>
            </li>
            <li class="nav-item">
              <%= link_to "マイクリップ", user_clips_path, method: :get,:style=>"color:white;padding-left:10px;" , data: {"turbolinks" => false} %>
            </li>
            <li class="nav-item">
              <span style = "color:white;padding-left:10px;"><%= current_user.email %></span>
            </li>
            <li class="nav-item">
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete,:style=>"color:white;padding-left:10px;" , data: {"turbolinks" => false} %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "ログイン", new_user_session_path,:style=>"color:white;padding-left:10px;"  , data: {"turbolinks" => false} %>
            </li>
          <% end %>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <%= link_to "新規クリップ", new_user_clip_path, class: 'btn btn-outline-light' %>
          </li>
        </ul>
      </div>
    </nav>
    <% if notice || alert %>
      <div class="alert alert-warning">
        <div class="container">
          <%= notice %>
          <%= alert %>
          <button type="button" class="close" 
        data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
    <% end %>
    <div class="addthis_inline_share_toolbox_nenf"  style = "text-align:center;padding-top: 30px;"></div>
    <div class="container content" style = "width: 100%;padding-top: 100px;">
     <%= yield %>
    </div>
    </body>
    <div class="addthis_inline_share_toolbox_nenf" style = "text-align:center;padding-bottom: 100px;"></div>
    <div class="footer">
      <div class="container">
        <ul style = "list-style: none;">
          <li>© Copyright 2019 All Rights Reserved</li>
          <li>お問い合わせ</li>
          <li>プライバシーポリシー</li>
          <li>ヘルプ</li>
        </ul>
      </div>
</html>
