<!DOCTYPE html>
<html>
  <head>
    <title>NewsAble</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5d3c52cf7c2a16f6"></script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script src='js/bootstrap.js'></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-7562219097015365",
        enable_page_level_ads: true
      });
      // ページをreloadする方法
    </script>
    <script>
      window.onunload = function(){location.reload();}
      function reloadCheck()
      {
      $(function(){
          $('a.navbar-brand').click(function(){
              console.log("別の操作もできる");
              return false;
        })
      });
    </script>
    <script>(function(t,a,y,o,r,i){r=a.createElement(y),i=a.getElementsByTagName(y)[0];r.type='text/javascript';r.async=1;r.src='http://tayori.com/form/64410234d28d9e9b166d7579922566c0736431cb/tag.js';r.id='tayori-tag';i.parentNode.insertBefore(r,i)})(window,document,'script');
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-144911894-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-144911894-1');
    </script>
    <script>
      function modalWindow(area,open){
        var state = false,
        scrollpos,
        modalArea = area,
        modalOpen = open,
        modalBox = $('.' + modalArea),
        modalOpn = $('.' + modalOpen),
        modalOut = $('.modal-close');
        modalOpn.on('click',function () {
          if(state == false) {
            scrollpos = $(window).scrollTop();
            $('body').addClass('fixbody').css({'top': -scrollpos});
            modalBox.fadeToggle(500,"linear");
            state = true;
          }
        });
        modalOut.on('click',function () {
          if(state == true) {
            $('body').removeClass('fixbody').css({'top': 0});
            window.scrollTo( 0 , scrollpos );
            modalBox.fadeToggle(500,"linear");
            state = false;
          }
        });
      };
      </script>
  </head>
    <div style = "text-align: center;padding-bottom: 10px;padding-top: 10px;">
      <a href="https://www.googleadservices.com/pagead/aclk?sa=L&amp;ai=C298Dy3Q6Xb22N8vn2gS7xr74CYma8sZO7Y38zZIJhLXZ2poLEAEgwdeHLGCJs8-EnBSgAej_g9cDyAEDqQI1TAqNUcFDPuACAKgDAcgDCKoEygFP0DnaBrFd1hkPtGGC0a-Iilx-KT7FAUXXNv7myS3vwqNCgrbbbIPtUjSLDnvVEA1zuw3mcc5jxs4Ehln3cGFaiRAYTEOhcQANEhoa7Z-o5jfrXfAnZyuX8b4ylB5DlCnlaIi6cqETxYv4YjntprBCcI34Nsjlv2qRcUhx44gkrLIV11pymo3aCP9f7PYz5lYRh1fDX0D9q7b3lZ38mTW6y8XoZHu60f1fNQl6yDygMbebx0M7ul66LU_oHliZKrdiZrmy9sRSnvO54AQBoAYDgAeAgPwoqAeOzhuoB9XJG6gHwdMbqAeF1BuoB4HUG6gHgtQbqAeG1BuoB4TUG6gH4NMbqAe6BqgH2csbqAfPzBuoB6a-G6gH89EbqAfs1RvYBwHSCAcIgAEQARgNsQmr5ZZoRfCcRYAKA9gTAg&amp;ae=1&amp;num=1&amp;cid=CAASEuRojSQrQJI0IFu5Wg5tOVB5PQ&amp;sig=AOD64_2RFSA4UIVCKAxg5pAbul15onWTHA&amp;client=ca-pub-2494949456600497&amp;nx=650&amp;ny=30&amp;nb=2&amp;adurl=https://www.onamae.com/campaign/trial3/%3Fflow%3Dnormal%26banner_id%3D787_rtg_top_comnetwork_1%26waad%3DnLWDnYOJ%26argument%3D29kVaVam%26dmai%3Da5cd2a1d2af0c9%26gclid%3DEAIaIQobChMI_cexxdPR4wIVy7OWCh07ow-fEAEYASAAEgKw6vD_BwE" id="aw0" on="tap:exit-api.exit(target='landingPage',_nb='2')" target="_blank" data-a4a-orig-href="https://www.googleadservices.com/pagead/aclk?sa=L&amp;ai=C298Dy3Q6Xb22N8vn2gS7xr74CYma8sZO7Y38zZIJhLXZ2poLEAEgwdeHLGCJs8-EnBSgAej_g9cDyAEDqQI1TAqNUcFDPuACAKgDAcgDCKoEygFP0DnaBrFd1hkPtGGC0a-Iilx-KT7FAUXXNv7myS3vwqNCgrbbbIPtUjSLDnvVEA1zuw3mcc5jxs4Ehln3cGFaiRAYTEOhcQANEhoa7Z-o5jfrXfAnZyuX8b4ylB5DlCnlaIi6cqETxYv4YjntprBCcI34Nsjlv2qRcUhx44gkrLIV11pymo3aCP9f7PYz5lYRh1fDX0D9q7b3lZ38mTW6y8XoZHu60f1fNQl6yDygMbebx0M7ul66LU_oHliZKrdiZrmy9sRSnvO54AQBoAYDgAeAgPwoqAeOzhuoB9XJG6gHwdMbqAeF1BuoB4HUG6gHgtQbqAeG1BuoB4TUG6gH4NMbqAe6BqgH2csbqAfPzBuoB6a-G6gH89EbqAfs1RvYBwHSCAcIgAEQARgNsQmr5ZZoRfCcRYAKA9gTAg&amp;ae=1&amp;num=1&amp;cid=CAASEuRojSQrQJI0IFu5Wg5tOVB5PQ&amp;sig=AOD64_2RFSA4UIVCKAxg5pAbul15onWTHA&amp;client=ca-pub-2494949456600497&amp;nx=CLICK_X&amp;ny=CLICK_Y&amp;nb=2&amp;adurl=https://www.onamae.com/campaign/trial3/%3Fflow%3Dnormal%26banner_id%3D787_rtg_top_comnetwork_1%26waad%3DnLWDnYOJ%26argument%3D29kVaVam%26dmai%3Da5cd2a1d2af0c9%26gclid%3DEAIaIQobChMI_cexxdPR4wIVy7OWCh07ow-fEAEYASAAEgKw6vD_BwE"><amp-img alt="" class="img_ad i-amphtml-layout-fixed i-amphtml-layout-size-defined i-amphtml-element i-amphtml-layout" height="90" i-amphtml-layout="fixed" i-amphtml-ssr="" src="https://tpc.googlesyndication.com/simgad/17554072985926828441" style="width:970px;height:90px;" width="970"><img alt="" class="i-amphtml-fill-content i-amphtml-replaced-content" decoding="async" src="https://tpc.googlesyndication.com/simgad/17554072985926828441"></amp-img></a>
    </div>
    <% if current_page?(root_path) %>
    <div class="jumbotron text-center hero">
    <div class="container">
       <h1>Welcome to NewsInk</h1>
       <p>NewsImkはニュースを共有するためのプラットフォームです</p>
       <%= link_to "Sing Up Now!",
        new_user_registration_path, class: "btn btn-primary" , data: {"turbolinks" => false}, :style=>"color:white;" %>
    </div>
    </div>
    <% end %>
  <body onLoad="rCheck()">
     <nav class="navbar navbar-expand-lg navbar-dark bg-danger">
      <span style ="font-size: 20px;"><%= link_to "NewsInk", root_path, method: :get,:style=>"color:white;padding-left:10px;", data: {"turbolinks" => false} %></span>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" style =  "text-align:left;">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav"  style = "color:white;">
        <ul class="navbar-nav">
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to "Articles", articles_path, method: :get,:style=>"color:white;padding-left:10px;", data: {"turbolinks" => false} %>
            </li>
            <li class="nav-item">
              <%= link_to "Clips", clips_path, method: :get,:style=>"color:white;padding-left:10px;" , data: {"turbolinks" => false} %>
            </li>
            <li class="nav-item">
              <%= link_to "User-Clip", user_clips_path, method: :get,:style=>"color:white;padding-left:10px;" , data: {"turbolinks" => false} %>
            </li>
            <li class="nav-item">
              <span style = "color:white;padding-left:10px;"><%= current_user.email %>としてログイン中</span>
            </li>
            <li class="nav-item">
              <%= link_to "Log out", destroy_user_session_path, method: :delete,:style=>"color:white;padding-left:10px;" , data: {"turbolinks" => false} %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "Log in", new_user_session_path, class: 'nav-link',:style=>"color:white;padding-left:10px;"  , data: {"turbolinks" => false} %>
            </li>
          <% end %>
        </ul>
      </div>
      <% if user_signed_in? %>
      <span><%= link_to 'New User Clip', new_user_clip_path, class: "btn btn-outline-light btn-sm" , data: {"turbolinks" => false},  style: "color:white;"%></span>
      <% end %>
        <!-- Button trigger modal -->
      <div>
      <button type="button" class="btn btn-outline-light btn-sm" data-toggle="modal" data-target="#exampleModalScrollable" style="color:white;margin-left: 10px;">
        プライバシーポリシー<br>
      </button>
      </div>
      <!-- Modal -->
      <div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalScrollableTitle">プライバシーポリシー</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>広告の配信について<br>
              当サイトは第三者配信の広告サービス「Google Adsense グーグルアドセンス」を利用しています。

              広告配信事業者は、ユーザーの興味に応じた広告を表示するためにCookie（クッキー）を使用することがあります。

              Cookie（クッキー）を無効にする設定およびGoogleアドセンスに関する詳細は「広告 – ポリシーと規約 – Google」をご覧ください。

              第三者がコンテンツおよび宣伝を提供し、訪問者から直接情報を収集し、訪問者のブラウザにCookie（クッキー）を設定したりこれを認識したりする場合があります。</p><br>
              <p>
              アクセス解析ツールについて<br>
              当サイトでは、Googleによるアクセス解析ツール「Googleアナリティクス」を利用しています。

              このGoogleアナリティクスはトラフィックデータの収集のためにCookieを使用しています。このトラフィックデータは匿名で収集されており、個人を特定するものではありません。この機能はCookieを無効にすることで収集を拒否することが出来ますので、お使いのブラウザの設定をご確認ください。この規約に関して、詳しくはここをクリックしてください。</p><br>

              <p>免責事項<br>
              当サイトで掲載している画像の著作権・肖像権等は各権利所有者に帰属致します。権利を侵害する目的ではございません。記事の内容や掲載画像等に問題がございましたら、各権利所有者様本人が直接メールでご連絡下さい。確認後、対応させて頂きます。

              当サイトからリンクやバナーなどによって他のサイトに移動された場合、移動先サイトで提供される情報、サービス等について一切の責任を負いません。

              当サイトに掲載された内容によって生じた損害等の一切の責任を負いかねますのでご了承ください。</p><br>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <div style="margin-left: 10px;"><a href="http://tayori.com/form/64410234d28d9e9b166d7579922566c0736431cb" class="btn btn-outline-light btn-sm"  target="_blank" style="color:white;">お問い合わせ</a></div>
    </nav>
    <div class="container">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
     <%= yield %>
    </div>
    <div class="addthis_inline_share_toolbox_qu5i" style = "text-align:center;"></div>
  </body>
  <br>
  <div class="addthis_inline_share_toolbox_g1cu" style = "text-align:center;"></div>
  <footer class="footer bg-danger">
    <div class="text-mute" style = "color:white;margin-top: 10px;">© Copyright 2019 Global News Media & Entertainment Private Limited | All Rights Reserved</div>
  </footer>
</html>
